{% extends 'flatpages/default.html' %}

{% block title %}
{{ flatpage.title }}
{% endblock title %}
 
{% block content %}
    <h2>{{ flatpage.title }}</h2>
    <hr>
    <h3>Пример страницы, сгенерированной в редакторе HTML:</h3>
    <h1 id="a46881a7cd9c4592b3267aec7cad2774-problem-title" class="hd hd-3 problem-header" tabindex="-1" aria-describedby="block-v1:skillfactory+QAP-1+19mar2020+type@problem+block@a46881a7cd9c4592b3267aec7cad2774-problem-progress">Задание 1.4.3</h1>
    <p>&nbsp;&nbsp;</p>
    <p>Возьмите любую страницу из вашего приложения и поместите её в <em>HTML-editor</em> или любой другой <em>Wysiwyg-</em>редактор. Поиграйтесь со шрифтами и сохраните новый контент страницы через админ-панель.</p>
    <p>&nbsp;</p>
    <p><span style="color: #0000ff;">&nbsp;Итого мы узнали, с помощью каких инструментов можно легче работать с <em>HTML</em>, превращая сразу код в то, как он будет выглядеть на сайте и наоборот. Расширили функционал <em>flatpages</em> в административной панели с помощью наследования классов.</span></p>
    <p>&nbsp;</p>
    <table style="margin-left: auto; margin-right: auto; width: 164px;"><caption>Пример таблицы</caption>
    <tbody>
    <tr>
    <td style="width: 34px;">1</td>
    <td style="width: 52.25px;">АА</td>
    <td style="width: 51.75px;">ВА</td>
    </tr>
    <tr>
    <td style="width: 34px;">2</td>
    <td style="width: 52.25px;">АВ</td>
    <td style="width: 51.75px;">ВВ</td>
    </tr>
    </tbody>
    </table>
{% endblock content %}